.skeleton {
    user-select: none;
}
.skeleton-anim ,
.sk-anim{
    background: linear-gradient(90deg, rgba(134, 161, 174,0.5) 0%, rgba(134, 161, 174,0.3) 51%, rgba(134, 161, 174,0.5) 100%) !important;
    background-position-x: 0;
    animation: skeleton;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    opacity: 0.4;
    border-radius: 5px;
    user-select: none;
}
.skeleton-text,
.sk-t {
    color: transparent !important;
    background: transparent;
    user-select: none;
}
.sk-b:before,.sk-a:after{
    display:none !important;
}
@keyframes skeleton{
    0%{background-position-x: 0;}
    100%{background-position-x: 100vw;}
}
